AWS_Framework/Updating/Sagebuild/SageBuild_State_Machine.json
{"Comment":"","StartAt":"start","States":{"IfBuildTraining":{"Type":"Choice","Choices":[{"Variable":"$.params.build.Training","BooleanEquals":false,"Next":"EndBuildTraining"},{"Variable":"$.params.build.Training","BooleanEquals":true,"Next":"buildImageTraining"}],"Default":"buildImageTraining"},"buildImageTraining":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaStartBuildTrainin-OZPKXXHN5JV8","ResultPath":"$.outputs.build.Training","Next":"waitTraining","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"waitTraining":{"Type":"Wait","Seconds":5,"Next":"buildStatusTraining"},"buildStatusTraining":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaBuildStatusTraini-9FJJPTAU55LR","ResultPath":"$.status.build.Training","Next":"checkImageTraining","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"checkImageTraining":{"Type":"Choice","Choices":[{"Variable":"$.status.build.Training.buildStatus","StringEquals":"IN_PROGRESS","Next":"waitTraining"},{"Variable":"$.status.build.Training.buildStatus","StringEquals":"SUCCEEDED","Next":"EndBuildTraining"}],"Default":"FailBuildNotificationTraining"},"EndBuildTraining":{"Type":"Pass","Next":"IfHPO"},"FailBuildNotificationTraining":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaNotificationFail-SA5GZ4LNXOUS","Next":"Fail","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"IfTrain":{"Type":"Choice","Choices":[{"Variable":"$.params.train","BooleanEquals":true,"Next":"getTrainingConfig"},{"Variable":"$.params.train","BooleanEquals":false,"Next":"getModelConfig"},{"Variable":"$.params.skiptrain","BooleanEquals":true,"Next":"getArtifact"}],"Default":"getTrainingConfig"},"getArtifact":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaGetArtifact-1FS77BFAKUQDB","Next":"getModelConfig","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"getTrainingConfig":{"Type":"Task","InputPath":"$","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaGetTrainingConfig-WD6JFQKNI3Y2","ResultPath":"$.args.training","Next":"getDataConfig","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"getDataConfig":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaGetDataConfig-QZZYRV5Q3BBX","ResultPath":"$.args.training.InputDataConfig","Next":"IfBuildTraining","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"IfHPO":{"Type":"Choice","Choices":[{"Variable":"$.params.configtrain","StringEquals":"SAGEMAKER","Next":"StartTraining"},{"Variable":"$.params.configtrain","StringEquals":"SAGEMAKERHPO","Next":"StartHPO"}],"Default":"StartTraining"},"StartTraining":{"Type":"Task","InputPath":"$","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaStartTraining-151BV6VM3LKJU","ResultPath":"$.outputs.training","Next":"waitForTraining","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"StartHPO":{"Type":"Task","InputPath":"$","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaStartHPO-1RGKYFJ320PNJ","ResultPath":"$.outputs.training","Next":"waitForTraining","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"waitForTraining":{"Type":"Wait","Seconds":30,"Next":"IfHPOStatus"},"IfHPOStatus":{"Type":"Choice","Choices":[{"Variable":"$.params.configtrain","StringEquals":"SAGEMAKER","Next":"getTrainingStatus"},{"Variable":"$.params.configtrain","StringEquals":"SAGEMAKERHPO","Next":"getHPOStatus"}],"Default":"getHPOStatus"},"getTrainingStatus":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaTrainingStatus-1OU5H2EE0050H","ResultPath":"$.status.training","Next":"checkTrainingStatus","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"getHPOStatus":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaHPOStatus-191WL3YIDBIK","ResultPath":"$.status.training","Next":"checkHPOStatus","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"checkTrainingStatus":{"Type":"Choice","Choices":[{"Variable":"$.status.training.TrainingJobStatus","StringEquals":"InProgress","Next":"waitForTraining"},{"Variable":"$.status.training.TrainingJobStatus","StringEquals":"Completed","Next":"getModelConfig"}],"Default":"trainingFail"},"checkHPOStatus":{"Type":"Choice","Choices":[{"Variable":"$.status.training.HyperParameterTuningJobStatus","StringEquals":"InProgress","Next":"waitForTraining"},{"Variable":"$.status.training.HyperParameterTuningJobStatus","StringEquals":"Completed","Next":"getModelConfig"}],"Default":"trainingFail"},"trainingFail":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaNotificationFail-SA5GZ4LNXOUS","Next":"Fail","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"rollback":{"Type":"Parallel","ResultPath":"$.outputs.rollback","Next":"endpointFail","Branches":[{"StartAt":"shouldDeleteEndpoint","States":{"shouldDeleteEndpoint":{"Type":"Choice","Choices":[{"Or":[{"Variable":"$.status.endpoint.EndpointStatus","StringEquals":"Failed"}],"Next":"endpointDelete"},{"Or":[{"Variable":"$.status.endpoint.EndpointStatus","StringEquals":"InService"},{"Variable":"$.status.endpoint.EndpointStatus","StringEquals":"RollingBack"}],"Next":"endDelete"}],"Default":"endDelete"},"endpointDelete":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaDeleteEndpoint-VC7ZQZLR0COL","ResultPath":"$.status.endpointdelete","Next":"endpointDeleteStatus"},"endpointDeleteStatus":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaEndpointStatus-10KK1AZ7D2FJS","ResultPath":"$.status.endpoint","Next":"waitForDelete"},"waitForDelete":{"Type":"Wait","Seconds":10,"Next":"endpointDeleteCheck"},"endpointDeleteCheck":{"Type":"Choice","Choices":[{"Or":[{"Variable":"$.status.endpoint.EndpointStatus","StringEquals":"Deleting"},{"Variable":"$.status.endpoint.EndpointStatus","StringEquals":"Failed"}],"Next":"endpointDeleteStatus"},{"Variable":"$.status.endpoint.EndpointStatus","StringEquals":"Empty","Next":"endDelete"}],"Default":"endDelete"},"endDelete":{"Type":"Pass","End":true}}},{"StartAt":"deleteEndpointConfig","States":{"deleteEndpointConfig":{"Type":"Task","End":true,"Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaDeleteEndpointCon-BU29NOGS35WO","ResultPath":"$.outputs.deleteEndpointConfig"}}},{"StartAt":"deleteModel","States":{"deleteModel":{"Type":"Task","End":true,"Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaDeleteModel-17Z3RTH2LELOY","ResultPath":"$.outputs.deleteModel"}}}],"Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"IfBuildInference":{"Type":"Choice","Choices":[{"Variable":"$.params.build.Inference","BooleanEquals":false,"Next":"EndBuildInference"},{"Variable":"$.params.build.Inference","BooleanEquals":true,"Next":"buildImageInference"}],"Default":"buildImageInference"},"buildImageInference":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaStartBuildInferen-1KKQ8LZNEPNBW","ResultPath":"$.outputs.build.Inference","Next":"waitInference","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"waitInference":{"Type":"Wait","Seconds":5,"Next":"buildStatusInference"},"buildStatusInference":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaBuildStatusInfere-IH7M0U7Y3NLJ","ResultPath":"$.status.build.Inference","Next":"checkImageInference","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"checkImageInference":{"Type":"Choice","Choices":[{"Variable":"$.status.build.Inference.buildStatus","StringEquals":"IN_PROGRESS","Next":"waitInference"},{"Variable":"$.status.build.Inference.buildStatus","StringEquals":"SUCCEEDED","Next":"EndBuildInference"}],"Default":"FailBuildNotificationInference"},"EndBuildInference":{"Type":"Pass","Next":"createModel"},"FailBuildNotificationInference":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaNotificationFail-SA5GZ4LNXOUS","Next":"Fail","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"getModelConfig":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaGetModelConfig-1BHZJZGUUEB3","ResultPath":"$.args.model","Next":"IfBuildInference","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"createModel":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaCreateModel-1TJVNVZHDUIHN","ResultPath":"$.outputs.models","Next":"getEndpointConfig","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"getEndpointConfig":{"Type":"Task","InputPath":"$","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaGetEndpointConfig-OWLO1IMNFVD8","ResultPath":"$.args.endpoint","Next":"createEndpointConfig","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"createEndpointConfig":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaCreateEndpointCon-10VRUKIN9KIXP","ResultPath":"$.outputs.endpoint","Next":"updateEndpoint","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"updateEndpoint":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaUpdateEndpoint-FTYH9ZR79AS8","ResultPath":"$.outputs.deploy","Next":"waitForEndpoint","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"waitForEndpoint":{"Type":"Wait","Seconds":10,"Next":"endpointStatus"},"endpointStatus":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaEndpointStatus-10KK1AZ7D2FJS","ResultPath":"$.status.endpoint","Next":"endpointCheck","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"endpointCheck":{"Type":"Choice","Choices":[{"Or":[{"Variable":"$.status.endpoint.EndpointStatus","StringEquals":"Creating"},{"Variable":"$.status.endpoint.EndpointStatus","StringEquals":"Updating"},{"Variable":"$.status.endpoint.EndpointStatus","StringEquals":"RollingBack"}],"Next":"waitForEndpoint"},{"Or":[{"Variable":"$.status.endpoint.EndpointStatus","StringEquals":"InService"}],"Next":"DeployStatus"}],"Default":"rollback"},"DeployStatus":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaDeployCheck-1HK01TD77DDI","ResultPath":"$.status.deployment","Next":"DeployCheck","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"DeployCheck":{"Type":"Choice","Choices":[{"Variable":"$.status.deployment","BooleanEquals":true,"Next":"Success"},{"Variable":"$.status.deployment","BooleanEquals":false,"Next":"rollback"}],"Default":"rollback"},"endpointFail":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaNotificationFail-SA5GZ4LNXOUS","Next":"Fail","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"start":{"Type":"Pass","Next":"initialize"},"initialize":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaInitialize-1WI9N4EJ5OV2X","Next":"listmodels","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"listmodels":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaListModels-ZDTNPS3A93U6","ResultPath":"$.params.models","Next":"IfTrain","Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"Success":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaNotificationSucce-180B33KZKY3UY","End":true,"Catch":[{"ErrorEquals":["States.ALL"],"ResultPath":"$.error","Next":"Error"}]},"Error":{"Type":"Task","Resource":"arn:aws:lambda:eu-central-1:386431343404:function:SageBuild-VWT-Test-001-StepLambdaNotificationFail-SA5GZ4LNXOUS","Next":"Fail"},"Fail":{"Type":"Fail"}}}